{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block content %}
<h1>Пост</h1>
<h3>{{ time_now|date:'M d Y' }}</h3>
<hr>
{% if post %}
<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td style="width: 200px;"><u>Автор</u></td>
        <td style="width: 210px;"><u>Заголовок</u></td>
        <td style="width: 200px;"><u>Дата публикации</u></td>
        <td style="width: 200px;"><u>Содержание</u></td>
        <td style="width: 200px;"><u>Категория</u></td>
    </tr>
    <tr>
        <td style="width: 200px;">{{ post.author.authorUser }}</td>
        <td style="width: 210px;">{{ post.title }}</td>
        <td style="width: 200px;">{{ post.dateCreation|date:'d M Y' }}</td>
        <td style="width: 200px;">{{ post.text|truncatewords:20|censor  }}</td>
        <td style="width: 200px;">
            {% for cat in post.postCategory.all %}
                {{ cat.name }}
            {% endfor %}
        </td>
    </tr>
</table>
{% else %}
<h3>Публикаций нет!</h3>
{% endif %}
{% endblock content %}